# 第2章　Pythonの基礎
この章では、Pythonのコードについて、変数、型、算術演算子、print()関数、代入演算子、input()関数、数学関数、文字について解説する。

## 2.1　**コード**

In [ ]:
a = 10        # 変数aに10を代入
b = 30        # 変数bに30を代入
c = a + b     # aとbを加算し、その結果を変数cに代入
print("a+b=", c)  # 変数cの内容を表示

a+b= 40

### 2.1.1　コードの記述方法

In [ ]:
a = 50       # 変数 a に 50 を代入
if a >= 60:  # a が 60 以上か判定
    print("合格")    # 60 以上なら「合格」を表示
else:
    print("不合格")  # 60 未満なら「不合格」を表示

不合格

### 2.1.2　ブロック

In [ ]:
s = 0                 # 合計を保持する変数 s を 0 で初期化
for i in range(10):  # 0 から 9 までの数を順に加算
    s = s + i         # s に i を加算
    print("s=", s)   # 現在の合計を表示

s= 0
s= 1
s= 3
s= 6
s= 10
s= 15
s= 21
s= 28
s= 36
s= 45

### 2.1.3　コメント

In [ ]:
"""
プログラムの内容：
このプログラムは "abc"を5回表示する。
作成者：〇〇　〇〇
作成日：2025/01/16
"""
for i in range(5):  # 0 から 4 まで繰り返すループ
#  a = 123  （この行はコメントアウトされている）
    print("abc")  # "abc"を表示

abc
abc
abc
abc
abc

# 2.3　**型**

### 2.3.1　主に使われる型

In [ ]:
a = 10     # 整数型（int）
b = 1.23   # 浮動小数点型（float）
c = "abc"  # 文字列（str）
print(a,b, c)

10 1.23 abc

### 2.3.2　型が違うもの同士の演算

In [ ]:
a = 5      # 整数型（int）
b = 2.0    # 浮動小数点型（float）
c = a + b  # int と float の計算結果は float になる
d = a / b  # 割り算の結果は常に float になる
print(c)   # 7.0 を出力
print(d)   # 2.5 を出力
print("a=", a)  # 現在の a の値を表示
a = "abcd"  # 8行目: 変数 a に文字列（str）を代入（型の変更）
print("a=", a)  # 文字列 "abcd" を出力

7.0
2.5
a= 5
a= abcd

### 2.3.3　近似値

In [ ]:
a = 0.1+0.2  # 浮動小数点
print(a)

0.30000000000000004

### 2.3.4　type()関数

In [ ]:
a = 5         # 整数型（int）
b = 1.23      # 浮動小数点型（float）
c = True      # ブール型（bool）
d = "Hello."  # 文字列型（str）
print("a=", a, "a の型は", type(a))
print("b=", b, "b の型は", type(b))
print("c=", c, "c の型は", type(c))
print("d=", d, "d の型は", type(d))

a= 5 a の型は <class 'int'>
b= 1.23 b の型は <class 'float'>
c= True c の型は <class 'bool'>
d= Hello. d の型は <class 'str'>

### 2.3.5　型の変換

In [ ]:
a = 5         # 整数型（int）
b = 3.14      # 浮動小数点型（float）
c = "123"     # 文字列型（str）
print("float(a):", float(a))  # 整数を浮動小数点型に変換
print("int(b):", int(b))      # 浮動小数点型を整数型に変換
print("int(c):", int(c))      # 文字列型を整数型に変換
d = "pi=" + str(b)  # 文字型へ変換
print(d)  # "pi=3.14" を出力

float(a): 5.0
int(b): 3
int(c): 123
pi=3.14

# 2.4　**算術演算子**

### 2.4.1　ゼロで割った場合

In [ ]:
t = 0
print(10 /t )   # ゼロで割るためエラー発生

ZeroDivisionError: division by zero

# 2.5　print()**関数**

### 2.5.1　変換演算子

In [ ]:
date = "8月6日"
temp = 20
print("%sの気温は%d度" %(date, temp))  # 3行目
a = 123
print("aの値=%6d" % a)    # 整数を6桁で表示（右寄せ）
b = 12.345
print("bの値=%6.2f" % b)  # 全部で6桁小数点以下2桁

8月6日の気温は20度
aの値=   123
bの値= 12.35

### 2.5.2　print()関数のオプション

In [ ]:
a = 10
b = 20
c = 30
print(a, b, c, sep=",")  # セパレータをカンマに変更
print()                   # 空のprint()で改行のみ出力
print("Hello\nWorld!!")  # 途中に改行を挿入

10,20,30

Hello
World!!

### 2.5.3　format()メソッドを使った書式設定

In [ ]:
pi = 3.141592
print("{:.2f}".format(pi))  # 小数点以下2桁で表示
print("{:.4f}".format(pi))  # 小数点以下4桁で表示
a = 1234567
print("{:,}".format(a))   # 3桁ごとにカンマを挿入
a = 123
print("{:0>7}".format(a))  # 7桁になるように前にゼロを埋める

3.14
3.1416
1,234,567
0000123

### 2.5.4　桁数や文字の形式

In [ ]:
a=31415.9265
print("{:0>12,.2f}".format(a))

a=31415.9265
print("{:>12.3f}".format(a))

00031,415.93
   31415.927

# 2.6　**代入演算子**

### 2.6.2　多重代入

In [ ]:
a, b, c = 10, 20, 30
print(a,b, c)
a = b = c = 0
print(a,b, c)

10 20 30
0 0 0

### 2.6.3　2つの変数の値の入れ替え

In [ ]:
a, b = 10, 20
a, b = b, a               # 変数aとbの入れ替え
print("a=", a, "b=", b)  # 出力結果：a= 20 b=10

a= 20 b= 10

# 2.7　input()**関数**

In [ ]:
i = input("a:")  # 入力（文字列型として取得）
a = int(i)       # 入力された文字列を整数型（int）に変換
i = input("b:")
b = float(i)     # 入力された文字列を浮動小数点型（float）に変換
print("a+b:", a + b)

a:12
b:3.14
a+b: 15.14

### 2.7.1　２つの整数を入力する場合

In [ ]:
a, b = input().split()  # 空白で区切る
a = int(a)  # 整数に変換
b = int(b)  # 整数に変換
print(a, b)
a, b = input().split(",")  # カンマで区切る
print(a, b)
a, b = map(int, input().split())
print(a, b)

1 2
1 2
3,4
3 4
5 6
5 6

# 2.8　**数学関数**

### 2.8.1　平方根と三角関数の例

In [ ]:
import math
x = 3.0
sq = math.sqrt( x )
print("sqrt(3)=", sq)
pi = math.pi  # πの値
s = math.sin(pi/3.0)
c = math.cos(pi/3.0)
t = math.tan(pi/3.0)
print("sin(π/3)=", s)
print("cos(π/3)=", c)
print("tan(π/3)=", t)

sqrt(3)= 1.7320508075688772
sin(π/3)= 0.8660254037844386
cos(π/3)= 0.5000000000000001
tan(π/3)= 1.7320508075688767

### 2.8.2　ceil()・floor()関数

In [ ]:
import math
a = -3.5
b = 3.5
print("ceil=", a, math.ceil(a))
print("ceil=", b, math.ceil(b))
print("floor=", a, math.floor(a))
print("floor=", b, math.floor(b))

ceil= -3.5 -3
ceil= 3.5 4
floor= -3.5 -4
floor= 3.5 3

# 2.9　**文字列**

In [ ]:
a = "abc"
b = '文字列'
c = 'x="xyz"'  # ダブルクォーテーションを含む文字列
print(a, b, c)

abc 文字列 x="xyz"

### 2.9.1　文字列の演算子

In [ ]:
a = "富士"
b = "山"
c = a + b   # 文字列の連結
d = a * 2   # 文字列の繰り返し
print(c, d)
a += "川"   # 文字列を更新（連結代入）
print(a)

富士山 富士富士
富士川

### 2.9.2　主な文字列操作のメソッド

In [ ]:
a = "Tokyo OSAKA fukuoka"
print("lower():", a.lower())   # すべて小文字に変更
print("upper():", a.upper())   # すべて大文字に変更
print('count("o"):', a.count("o"))  # 「o」の数を数える
print('find("o"):', a.find("o"))    # 初めて見つかった文字の位置
print('rfind("o"):', a.rfind("o"))  # 最後に見つかった文字の位置
print('replace("o", "@"):', a.replace("o", "@"))  # 置換

lower(): tokyo osaka fukuoka
upper(): TOKYO OSAKA FUKUOKA
count("o"): 3
find("o"): 1
rfind("o"): 16
replace("o", "@"): T@ky@ OSAKA fuku@ka

### 2.9.3　文字列の切り取り（スライス）

In [ ]:
a = "Tokyo OSAKA"
print("a[1]  :", a[1])  # 2文字目(インデックスは0から始まる)
print("a[-1] :", a[-1])   # 最後の1文字
print("a[1:3]:", a[1:3])  # 2文字目から3文字目
print("a[:2] :", a[:2])   # 先頭2文字
print("a[3:] :", a[3:])   # 4文字から最後まで
print("a[-3:]:", a[-3:])  # 最後の3文字

a[1]  : o
a[-1] : A
a[1:3]: ok
a[:2] : To
a[3:] : yo OSAKA
a[-3:]: AKA

### 2.9.5　文字列の判定メソッド

In [ ]:
a = "A"
b = "b"
c = "4"
print("a 英字?:", a.isalpha())    # 英字の判定
print("a 小文字?:", a.islower())  # 小文字の判定
print("b 英字?:", b.isalpha())    # 英字の判定
print("b 小文字?:", b.islower())  # 小文字の判定
print("c 10進数値?:", c.isdecimal())  # 10進数値の判定

a 英字?: True
a 小文字?: False
b 英字?: True
b 小文字?: True
c 10進数値?: True

### 2.9.7　文字の分布を表示

In [ ]:
a = "Tokyo Osaka kyoto"
n = [0]*27       # ①:0番目は「その他」、1～26番目は"a"～"z"
for char in a:   # ②: 変数aの文字を1文字ずつchrに取り出す
    if char.islower():  # 小文字の場合のみカウント
        k = ord(char) - ord("a") + 1  # ③:"a"を1, "b"を2, …
        n[k] += 1       # ④:リストnのk番目の値を1加算
    else:
        n[0] += 1       # ⑤:「その他」にカウント
print("その他:", n[0])  # 「その他」の数を表示
# "a"～"z" の出現回数を表示
for i in range(1, 27):  # ⑥:"a"～"z" のループ
    if n[i] > 0:
        print("     ", chr(ord('a') + i - 1), n[i])

その他: 4
      a 2
      k 3
      o 4
      s 1
      t 1
      y 2